.login-container(ng-controller="authenticationController")
	h2.center-justify login
	.row.center-justify.form-group
		form
			br
			input.form-control.tenth.center(type="text" placeholder="username" ng-model="u.name" autofocus)
			input.form-control.tenth.center(type="password" placeholder="password" ng-model="u.pass")
			br
			.message(class="alert {{message.type}}" role="alert" ng-if="message.text") {{message.text}}
			br
			.controls
				button.btn.btn-primary(type="submit" ng-click="login()") let's go
				.help(ng-if="message.text")
					button.btn.btn-warning(ng-click="isCollapsed = !isCollapsed") help
					.collapsed(collapse="isCollapsed")
						.content
							p Your username is your High Rank username. For security reasons, it is not the same as your email address.
							p If you have forgotten your username, please contact an administrator.