.spinner.center-justify(ng-if="!clients")
		img(src="img/spinner.gif" alt="initializing...")
.search-container(ng-if="clients")
	.row
		.col-md-9
		.col-md-3(ng-if="authenticated")
			.btn-group
				.btn-group(dropdown is-open="usermenu-login.isopen")
					button.btn.btn-primary.dropdown-toggle(ng-disabled="disabled") #[i.glyphicon.glyphicon-user] {{currentUser.name}}&nbsp;
						span.caret
					ul.dropdown-menu(role="menu" ng-controller="loginController")
						li: a.clickable(ng-click="logout()") Logout
				.btn-group(dropdown is-open="usermenu-dash.isopen")
					button.btn.btn-primary.dropdown-toggle(ng-disabled="disabled") Clients&nbsp;
						span.caret
					ul.dropdown-menu(role="menu" ng-controller="userMenuModalsController")
						li(ng-if="currentUser.hasAccess('admin')"): a.clickable(ng-click="open({url: 'revisionsListModal.html' })") Revision history
							include modals/_revisionsList
	.search-container-inner
		h1(ng-if="q.$") #[i.glyphicon.glyphicon-search] beta
		input#search(type="search" ng-model="q.$" value="" placeholder="start typing..." ng-style="q.$ && {'margin-top': '3%'} || !q.$ && {'margin-top': '20%'}" autofocus).search.form-control
		.row.three-fourths.center(ng-if="q.$")
			.results-container(ng-controller="searchController")
				.row.center-justify
					label show
					| &nbsp;
					input.form-control.quantity(type="number" min="1" value="{{quantity}}" ng-model="quantity" ng-maxlength="4")
					| &nbsp;results
				tabset
					tab(heading="clients" ng-if="currentUser.hasAccess('dev')")
						include tabs/_clientsList.jade
					tab(heading="web sites" ng-if="currentUser.hasAccess('dev')")
						include tabs/_webSitesList.jade
					tab(heading="logins" ng-if="currentUser.hasAccess('dev')")
						include tabs/_loginsList.jade
					tab(heading="people" ng-if="currentUser.hasAccess('user')")
						include tabs/_peopleList.jade
					//tab(heading="revisions" ng-if="currentUser.hasAccess('dev')")
						include tabs/_revisionsList.jade
				.row.center-justify
					button.btn.btn-primary(ng-if="results < clients.length" ng-click="showMore(quantity)") show {{quantity}} more


