.search-container
	.search-container-inner
		h1(ng-if="q.$") #[i.glyphicon.glyphicon-search]
		input#search(type="search" ng-model="q.$" value="" placeholder="start typing..." ng-style="q.$ && {'margin-top': '3%'} || !q.$ && {'margin-top': '20%'}" ng-class="q.$ && test" autofocus).search.form-control
		.row.three-fourths.center
			.results-container(ng-if="q.$" ng-controller="searchController")
				.row.center-justify
					label show
					| &nbsp;
					input.form-control.quantity(type="number" min="1" value="{{quantity}}" ng-model="quantity" ng-maxlength="4")
					| &nbsp;results
				tabset
					tab(heading="clients")
						include tabs/_clientsList.jade
					tab(heading="web sites")
						include tabs/_webSitesList.jade
					tab(heading="logins")
						include tabs/_loginsList.jade
					tab(heading="people")
						include tabs/_peopleList.jade
				.row.center-justify
					button.btn.btn-primary(ng-if="results < clients.length" ng-click="showMore(quantity)") show {{quantity}} more


