script(type="text/ng-template" id="clientEditModal.html")
	.modal-header
		h2 #[i.glyphicon.glyphicon-list-alt] {{client.name}}
	.modal-body
		div(list-attributes)
	.modal-footer
		button.btn.btn-warning(ng-click="update()") Submit
		button.btn.btn-primary(ng-click="ok()") Nevermind
		br
		.row
			.col-md-12.center-justify
				img(src="img/hrwlogo1.png")