table.table.table-hover.table-condensed.center
	thead
		tr
			th.col-md-1.clickable(ng-click="sort('id')") #
			th.col-md-8.clickable(ng-click="sort('name')") Client Name
			th.col-md-1.clickable(ng-click="sort('sites')") Sites
			th.col-md-2.clickable
	tbody
		tr(ng-repeat="client in clients | filter:q:strict | limitTo:quantity" ng-init="update()")
			td.col-md-1.success(ng-if="client.id.toLowerCase().indexOf(q.$.toLowerCase()) != -1") {{client.id}}
			td.col-md-1(ng-if="client.id.toLowerCase().indexOf(q.$.toLowerCase()) == -1") {{client.id}}
			td.col-md-8.success(ng-if="client.name.toLowerCase().indexOf(q.$.toLowerCase()) != -1") {{client.name}}
			td.col-md-8(ng-if="client.name.toLowerCase().indexOf(q.$.toLowerCase()) == -1") {{client.name}}
			td.col-md-1 {{client.sites.length}}
			td.col-md-2
				.right(ng-controller="clientListModalsController")
					.btn-group(tooltip="Edit or view the details of {{client.name}}'s account." tooltip-placement="left")
						button.btn.btn-primary(ng-if="currentUser.hasAccess('admin')" ng-click="edit(client)") #[i.glyphicon.glyphicon-edit]&nbsp;
						button.btn.btn-primary(ng-click="view(client)") #[i.glyphicon.glyphicon-search]&nbsp;
						include ../modals/_clientDetails.jade
						include ../modals/_clientEdit.jade