div(ng-repeat="revision in revisions | filter:q:strict | limitTo:quantity")
	.row
		.col-md-1 ID
		.col-md-3 Submitter
		.col-md-3 Date
		.col-md-5 Client
	.row
		.col-md-1 {{revision.revision_id}}
		.col-md-3 {{revision.user}}
		.col-md-3 {{revision.date}}
		.col-md-5 {{revision.data.name}}
