// dimensions, placement, etc.
.tenth {
	width: 10%;
}
.third {
	width: 33.3%;
}
.three-fourths {
	width: 75%;
}
.center {
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
}
.center-justify { text-align: center; }
.right-justify { text-align: right; }
.left-justify { text-align: left; }
.no-margins {
	margin: 0;
}
.no-padding {
	padding: 0;
}
.shrunk {
	margin: 0;
	padding: 0;
}
.super-shrunk {
	margin: 0;
	padding: 0;
	font-size: 0;
}
.right {
	text-align: right;
}
.clickable {
	cursor: pointer;
}
.not-clickable {
	cursor: default!important;
}

// colors
em {
	color: red;
	font-style: normal;
}
a {
	text-decoration: none;
	color: black;
	@include transition-duration(0.2s);
	&:hover {
		color: gray;
		text-decoration: none;
	}
}