/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 2, ../sass/partials/_var.scss */
.tenth {
  width: 10%;
}

/* line 5, ../sass/partials/_var.scss */
.third {
  width: 33.3%;
}

/* line 8, ../sass/partials/_var.scss */
.three-fourths {
  width: 75%;
}

/* line 11, ../sass/partials/_var.scss */
.center {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

/* line 17, ../sass/partials/_var.scss */
.center-justify {
  text-align: center;
}

/* line 18, ../sass/partials/_var.scss */
.right-justify {
  text-align: right;
}

/* line 19, ../sass/partials/_var.scss */
.left-justify {
  text-align: left;
}

/* line 20, ../sass/partials/_var.scss */
.no-margins {
  margin: 0;
}

/* line 23, ../sass/partials/_var.scss */
.no-padding {
  padding: 0;
}

/* line 26, ../sass/partials/_var.scss */
.shrunk {
  margin: 0;
  padding: 0;
}

/* line 30, ../sass/partials/_var.scss */
.super-shrunk {
  margin: 0;
  padding: 0;
  font-size: 0;
}

/* line 35, ../sass/partials/_var.scss */
.right {
  text-align: right;
}

/* line 38, ../sass/partials/_var.scss */
.clickable {
  cursor: pointer;
}

/* line 41, ../sass/partials/_var.scss */
.not-clickable {
  cursor: default !important;
}

/* line 45, ../sass/partials/_var.scss */
.spinner-small {
  width: 16px;
  height: 16px;
}

/* line 50, ../sass/partials/_var.scss */
.inline-block {
  display: inline-block;
}

/* line 55, ../sass/partials/_var.scss */
em {
  color: red;
  font-style: normal;
}

/* line 59, ../sass/partials/_var.scss */
a {
  text-decoration: none;
  color: black;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 63, ../sass/partials/_var.scss */
a:hover {
  color: gray;
  text-decoration: none;
}

/* line 1, ../sass/partials/_search.scss */
.results {
  word-wrap: break-word;
}

/* line 4, ../sass/partials/_search.scss */
.spinner {
  padding-top: 50px;
}

/* line 7, ../sass/partials/_search.scss */
input.quantity {
  margin-top: 16px;
  display: inline;
  width: 10%;
}

/* line 12, ../sass/partials/_search.scss */
select {
  display: inline-block !important;
  margin-top: 12px;
  margin-bottom: 12px;
}
/* line 16, ../sass/partials/_search.scss */
select option:after, select option:before {
  content: " results";
}

/* line 20, ../sass/partials/_search.scss */
.editor {
  text-align: center;
}

/* line 23, ../sass/partials/_search.scss */
.search-container {
  width: 100%;
  height: 100%;
}
/* line 26, ../sass/partials/_search.scss */
.search-container h1 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

/* line 33, ../sass/partials/_search.scss */
.search {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
/* line 37, ../sass/partials/_search.scss */
.search .results {
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: thin solid #ccc;
}
/* line 42, ../sass/partials/_search.scss */
.search .item {
  text-align: left;
}

/* line 46, ../sass/partials/_search.scss */
.btn {
  margin: 1px;
}
/* line 48, ../sass/partials/_search.scss */
.btn + .btn {
  margin-left: 1rem;
}

/* line 52, ../sass/partials/_search.scss */
.dropdown-control {
  position: relative;
}
/* line 54, ../sass/partials/_search.scss */
.dropdown-control + div {
  position: absolute;
  width: 50%;
  z-index: 9999;
  max-height: 0;
  opacity: 0;
  background-color: red !important;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 62, ../sass/partials/_search.scss */
.dropdown-control + div p {
  color: white;
  padding: 1px 5px;
  border: thin solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  background-color: #4646FF;
}
/* line 71, ../sass/partials/_search.scss */
.dropdown-control:hover + div {
  max-height: 9999;
  opacity: 1;
}

/* line 76, ../sass/partials/_search.scss */
span.match {
  font-weight: bold;
}

/* line 79, ../sass/partials/_search.scss */
span.status {
  margin: 0 6px;
}

/* line 82, ../sass/partials/_search.scss */
.toggle {
  text-align: center;
}
/* line 84, ../sass/partials/_search.scss */
.toggle .glyphicon-chevron-up {
  left: 1px;
}

/* line 1, ../sass/partials/_modals.scss */
.modal-dialog {
  overflow: auto;
}

/* line 4, ../sass/partials/_modals.scss */
.modal-lg {
  width: 90%;
}

/* line 7, ../sass/partials/_modals.scss */
.modal-content {
  padding: 16px;
}

/* line 10, ../sass/partials/_modals.scss */
.nav-tabs {
  text-transform: uppercase;
  cursor: pointer;
}
/* line 13, ../sass/partials/_modals.scss */
.nav-tabs li.active {
  font-weight: bold;
}

/* line 16, ../sass/partials/_modals.scss */
.sites-table thead, .sites-table div.row.head {
  font-weight: bold;
}
/* line 17, ../sass/partials/_modals.scss */
.sites-table div.row {
  word-wrap: break-word;
}
/* line 19, ../sass/partials/_modals.scss */
.sites-table div.row.head {
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 20, ../sass/partials/_modals.scss */
.sites-table div.row.head .not-padded {
  padding: 0;
}
/* line 25, ../sass/partials/_modals.scss */
.sites-table div.row.body .body-wrapper {
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
}
/* line 28, ../sass/partials/_modals.scss */
.sites-table div.row.body .body-wrapper .padded {
  padding: 4px 0;
}
/* line 29, ../sass/partials/_modals.scss */
.sites-table div.row.body .body-wrapper input {
  background-color: transparent;
  border: none;
}
/* line 36, ../sass/partials/_modals.scss */
.sites-table .collapsed {
  width: 95%;
}
/* line 39, ../sass/partials/_modals.scss */
.sites-table button {
  font-size: 16px;
  padding: 0 5px;
}

/* line 44, ../sass/partials/_modals.scss */
textarea.tall {
  height: 200px;
}

/* line 47, ../sass/partials/_modals.scss */
.modal-body.client-edit {
  margin: 0 100px;
}

/* line 50, ../sass/partials/_modals.scss */
.client-details {
  padding: 32px 4px;
  -webkit-box-shadow: 1px 1px 1px 1px black;
  -moz-box-shadow: 1px 1px 1px 1px black;
  box-shadow: 1px 1px 1px 1px black;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

/* line 56, ../sass/partials/_modals.scss */
.site h4 {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

/* line 61, ../sass/partials/_modals.scss */
.site-inner {
  margin: 8px 0;
  padding: 8px 16px;
  -webkit-box-shadow: 1px 1px 1px 1px black;
  -moz-box-shadow: 1px 1px 1px 1px black;
  box-shadow: 1px 1px 1px 1px black;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

/* line 67, ../sass/partials/_modals.scss */
.logins {
  padding: 8px 0;
  margin: 0 8px;
  background-color: #efefef;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
/* line 73, ../sass/partials/_modals.scss */
.logins label {
  font-weight: normal;
}
/* line 76, ../sass/partials/_modals.scss */
.logins .type {
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
/* line 80, ../sass/partials/_modals.scss */
.logins .type .url {
  text-transform: none;
}
/* line 84, ../sass/partials/_modals.scss */
.logins .login:not(:first-child) {
  margin-top: 12px;
}

/* line 88, ../sass/partials/_modals.scss */
.details {
  padding: 0 8px;
}

/* line 94, ../sass/partials/_modals.scss */
label {
  text-transform: uppercase;
}

/* line 1, ../sass/partials/_login.scss */
.login-container {
  margin-top: 15%;
}
/* line 3, ../sass/partials/_login.scss */
.login-container input {
  margin-top: 5px;
}
/* line 6, ../sass/partials/_login.scss */
.login-container button {
  width: 80px;
  margin-top: 5px;
}
/* line 10, ../sass/partials/_login.scss */
.login-container .message {
  margin-bottom: 0;
}
/* line 14, ../sass/partials/_login.scss */
.login-container .help .content p {
  padding: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 5px;
  width: 40%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 7, ../sass/partials/_app.scss */
body {
  font-family: "Open Sans", sans-serif;
}

/* line 11, ../sass/partials/_app.scss */
.copyright {
  margin: 48px 0;
}
/* line 13, ../sass/partials/_app.scss */
.copyright p {
  margin-top: 24px;
}

/* line 19, ../sass/partials/_app.scss */
table, thead, tbody, tr, td {
  text-align: left;
}
/* line 21, ../sass/partials/_app.scss */
table p, thead p, tbody p, tr p, td p {
  margin: 0;
}
/* line 24, ../sass/partials/_app.scss */
table .controls, thead .controls, tbody .controls, tr .controls, td .controls {
  width: 100%;
}

/* line 29, ../sass/partials/_app.scss */
table {
  -webkit-box-shadow: 2px 2px 5px 0px #323232;
  -moz-box-shadow: 2px 2px 5px 0px #323232;
  box-shadow: 2px 2px 5px 0px #323232;
}
