doctype html
//if lt IE 7
	html(class="no-js lt-ie9 lt-ie8 lt-ie7", lang="en", ng-app="searchApp")
//if IE 7
	html(class="no-js lt-ie9 lt-ie8", lang="en", ng-app="searchApp")
//if IE 8
	html(class="no-js lt-ie9", lang="en", ng-app="searchApp")
// [if gt IE 8] <!
html(class="no-js", lang="en", ng-app="searchApp")
	// <![endif]
	head
		title ci v2
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css")
		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet" href="stylesheets/screen.css")
		link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,300")
	body
		//if lt IE 7
			p.browsehappy!="ou are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience."
		//[endif]
		header
			.row(ng-controller="loginController")
				.col-md-10
				.col-md-2(ng-if="authenticated")
					button.btn.btn-primary(ng-click="logout()") Log Out ({{currentUser.name}})
		div(ui-view)
		.copyright.center-justify
			img(src="img/hrwlogo1.png")
			p Copyright &copy; 2014 High Rank Websites, Inc. Designed by #[a href="//www.aaronschlosser.com" target="_blank" Aaron John Schlosser].
		script(src="bower_components/angular/angular.js")
		script(src="bower_components/angular-cookie/angular-cookie.min.js")
		script(src="bower_components/ui-router/release/angular-ui-router.js")
		script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
		script(src="bower_components/jquery/dist/jquery.js")
		script(src="js/vendor/sha1.js")
		script(src="js/controllers/main.js")
		script(src="js/controllers/search.js")
		script(src="js/controllers/authentication.js")
		script(src="js/controllers/modals.js")
		script(src="js/controllers/users.js")
		script(src="js/directives.js")
		script(src="js/services/main.js")
		script(src="js/services/utilities.js")
		script(src="js/services/objects.js")
		script(src="js/services/api.js")
		script(src="js/app.js")